<div class="back_button">
    <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</div>

@if (SearchButtonDisabled)
{
    <div class="search_button">
        <a href="/search">
            <i class="fa-solid fa-magnifying-glass fa-align-center" centered></i>
        </a>
    </div>
}

<div class="burger" @attributes="navigationAttributes" @onclick="NavigationActive">
    <div class="burger-line burger-line1"></div>
    <div class="burger-line burger-line2"></div>
</div>
<div class="navigation-blur-filter" @attributes="navigationAttributes" @onclick="NavigationActive"></div>
<div class="navigation" @attributes="navigationAttributes">
    <div class="themeSwitch">
        <abbr title="Dark Mode">
            <i class="moon fa-solid fa-moon" centered></i>
        </abbr>
        <abbr title="Auto Mode">
            <i class="auto fa-solid fa-circle-half-stroke" centered></i>
        </abbr>
        <abbr title="Light Mode">
            <i class="sun fa-solid fa-sun" centered></i>
        </abbr>
    </div>

    <div class="tastenkombinationenSwitch">
        <i class="fa-solid fa-keyboard" centered></i>
    </div>

    <ul class="list">
        <li class="item">
            <a href="/" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="HOME">
                        <i class="fas fa-home"></i> HOME
                        <i class="fas fa-igloo"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/programmiersprachen.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="PROGRAMMIERSPRACHEN">
                        <i class="fas fa-language"></i> PROGRAMMIERSPRACHEN
                        <i class="fas fa-code"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/netzwerktechnik.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="NETZWERKTECHNIK">
                        <i class="fas fa-wifi"></i> NETZWERKTECHNIK
                        <i class="fas fa-file-powerpoint"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/datenbanken.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="DATENBANKEN">
                        <i class="fas fa-server"></i> DATENBANKEN
                        <i class="fas fa-database"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/systemtechnik.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="SYSTEMTECHNIK">
                        <i class="fas fa-robot"></i> SYSTEMTECHNIK
                        <i class="fas fa-microchip"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/betriebssysteme.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="BETRIEBSSYSTEME">
                        <i class="fa-brands fa-linux"></i> BETRIEBSSYSTEME
                        <i class="fa-brands fa-apple"></i>
                    </span>
                </span>
            </a>
        </li>
    </ul>
</div>

@*
<div class="tastenkombinationen-background_close"></div>
<iframe src="/components/tastenkombinationen.html" class="tastenkombinationen-iframe"></iframe>*@


@code {

    [Parameter]
    public bool SearchButtonDisabled { get; set; }

    private Dictionary<string, object> navigationAttributes { get; set; } = new();

    void NavigationActive()
    {
        if (navigationAttributes.ContainsKey("active"))
        {
            navigationAttributes.Remove("active");
        }
        else
        {
            navigationAttributes.Add("active", "true");
        }
        StateHasChanged();
    }

}

<style>
    .burger {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        -webkit-transition: background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
        z-index: 1001;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .burger > .burger-line {
        position: absolute;
        display: block;
        width: 2rem;
        height: 0.25rem;
        border-radius: 10000px;
        background-color: var(--font-color);
        -webkit-transition: background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
        transition: background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
        transition: transform var(--transition-middle) ease-in-out, background var(--transition-short) ease-in-out;
        transition: transform var(--transition-middle) ease-in-out, background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
    }
    .burger > .burger-line1 {
        -webkit-animation: burger-anim1 var(--transition-middle) ease-in-out;
        animation: burger-anim1 var(--transition-middle) ease-in-out;
        -webkit-transform: translateY(-0.3rem);
        transform: translateY(-0.3rem);
    }
    .burger > .burger-line2 {
        -webkit-animation: burger-anim2 var(--transition-middle) ease-in-out;
        animation: burger-anim2 var(--transition-middle) ease-in-out;
        -webkit-transform: translateY(0.3rem);
        transform: translateY(0.3rem);
    }
    .burger:hover {
        background-color: var(--main-color);
    }
    .burger:hover > .burger-line {
        background-color: var(--font-color-light);
    }
    .burger[active] > .burger-line1 {
        -webkit-animation: burger-anim1-active var(--transition-middle) ease-in-out;
        animation: burger-anim1-active var(--transition-middle) ease-in-out;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .burger[active] > .burger-line2 {
        -webkit-animation: burger-anim2-active var(--transition-middle) ease-in-out;
        animation: burger-anim2-active var(--transition-middle) ease-in-out;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    @@media (max-width: 40em) {
        .burger {
            top: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
        }
        .burger > .burger-line {
            width: 1rem;
            height: 0.2rem;
        }
        .burger > .burger-line1 {
            -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
        }
        .burger > .burger-line2 {
            -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
        }
    }
    .navigation {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        font-size: clamp(1.2rem, 1.64vw, 1.5rem);
        background-color: var(--background-color-2);
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transition: -webkit-transform var(--transition-middle) ease-in-out;
        transition: -webkit-transform var(--transition-middle) ease-in-out;
        transition: transform var(--transition-middle) ease-in-out;
        transition: transform var(--transition-middle) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1000;
    }
    .navigation > * {
        opacity: 0;
        -webkit-transition: opacity var(--transition-short) ease-in-out;
        transition: opacity var(--transition-short) ease-in-out;
    }
    .navigation .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navigation .list .item {
        position: relative;
        padding: 1rem 0;
    }
    .navigation .list .item .navlink {
        text-decoration: none;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 40px;
        position: relative;
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .navigation .list .item .navlink::before {
        content: "";
        position: absolute;
        top: -30px;
        bottom: -30px;
        left: 0;
        right: 0;
    }
    .navigation .list .item .navlink .link-showcase {
        position: relative;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 2rem;
        overflow: hidden;
    }
    .navigation .list .item .navlink .link-text {
        position: relative;
        color: var(--font-color);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        font-weight: 600;
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .navigation .list .item .navlink .link-text::after {
        content: attr(data-after);
        color: #5966f3;
        display: block;
        position: absolute;
        -webkit-transform-origin: left center;
        transform-origin: left center;
        top: calc(220% - 15px);
        left: 2rem;
        -webkit-transform: skewY(30deg);
        transform: skewY(30deg);
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .navigation .list .item .navlink:hover .link-text {
        -webkit-transform: translateY(-200%) skewY(6deg);
        transform: translateY(-200%) skewY(6deg);
    }
    .navigation .list .item .navlink:hover .link-text::after {
        -webkit-transform: skewY(-6deg);
        transform: skewY(-6deg);
    }
    .navigation[active] {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .navigation[active] > * {
        -webkit-transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
        transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
        opacity: 1;
    }
    
    body[colorTheme=dark] .navigation .item:nth-of-type(1) .navlink .link-text::after {
        color: #5966f3;
    }
    body[colorTheme=dark] .navigation .item:nth-of-type(2) .navlink .link-text::after {
        color: var(--lime);
    }
    body[colorTheme=dark] .navigation .item:nth-of-type(3) .navlink .link-text::after {
        color: var(--orange);
    }
    body[colorTheme=dark] .navigation .item:nth-of-type(4) .navlink .link-text::after {
        color: var(--pink);
    }
    body[colorTheme=dark] .navigation .item:nth-of-type(5) .navlink .link-text::after {
        color: var(--blue);
    }
    body[colorTheme=dark] .navigation .item:nth-of-type(6) .navlink .link-text::after {
        color: var(--violet);
    }
    
    @@media (prefers-color-scheme: dark) {
        body[colorTheme=auto] .navigation .item:nth-of-type(1) .navlink .link-text::after {
            color: #5966f3;
        }
        body[colorTheme=auto] .navigation .item:nth-of-type(2) .navlink .link-text::after {
            color: var(--lime);
        }
        body[colorTheme=auto] .navigation .item:nth-of-type(3) .navlink .link-text::after {
            color: var(--orange);
        }
        body[colorTheme=auto] .navigation .item:nth-of-type(4) .navlink .link-text::after {
            color: var(--pink);
        }
        body[colorTheme=auto] .navigation .item:nth-of-type(5) .navlink .link-text::after {
            color: var(--blue);
        }
        body[colorTheme=auto] .navigation .item:nth-of-type(6) .navlink .link-text::after {
            color: var(--violet);
        }
    }
    
    .navigation-blur-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--font-color);
        opacity: 0;
        -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
        z-index: -999;
    }
    .navigation-blur-filter[active] {
        -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        opacity: 0.25;
        z-index: 990;
    }
    
    @@media (min-width: 60em) {
        .navigation {
            width: 40rem;
            -webkit-transform: translateX(40rem);
            transform: translateX(40rem);
        }
    }
    .back_button {
        position: fixed;
        top: 2rem;
        left: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        -webkit-transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 995;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .back_button > a {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .back_button > a > i {
        font-size: 1.7rem;
        color: var(--font-color);
    }
    .back_button:hover {
        background-color: var(--main-color);
    }
    .back_button:hover > a i {
        color: var(--font-color-light);
    }
    
    @@media (max-width: 40em) {
        .back_button {
            top: 1rem;
            left: 1rem;
            width: 2rem;
            height: 2rem;
        }
        .back_button > a > i {
            font-size: 1rem;
        }
    }
    .search_button {
        position: fixed;
        top: 2rem;
        right: 8rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        -webkit-transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 1001;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .search_button > a {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .search_button > a > i {
        font-size: 1.7rem;
        color: var(--font-color);
        width: 60%;
        height: 60%;
    }
    .search_button:hover {
        background-color: var(--main-color);
    }
    .search_button:hover > a i {
        color: var(--font-color-light);
    }
    
    @@media (max-width: 40em) {
        .search_button {
            top: 1rem;
            right: 4rem;
            width: 2rem;
            height: 2rem;
        }
        .search_button > a > i {
            font-size: 1rem;
        }
    }
    .navigation .themeSwitch {
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 2rem;
        left: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: none;
        -webkit-transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .navigation .themeSwitch i {
        width: 40%;
        height: 40%;
        -webkit-transition: color var(--transition-short) ease-in-out;
        transition: color var(--transition-short) ease-in-out;
    }
    .navigation .themeSwitch:hover i {
        color: var(--main-color);
    }
    .navigation[active] .themeSwitch {
        -webkit-transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    body :is(.moon, .sun, .auto) {
        display: none;
    }
    
    body[colorTheme=dark] .moon {
        display: inline-block;
    }
    
    body[colorTheme=light] .sun {
        display: inline-block;
    }
    
    body[colorTheme=auto] .auto {
        display: inline-block;
    }
    
    @@media (max-width: 40em) {
        .navigation .themeSwitch {
            top: 1rem;
            left: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
    
    .navigation .tastenkombinationenSwitch {
        display: inline-block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        bottom: 2rem;
        right: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: none;
        -webkit-transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .navigation .tastenkombinationenSwitch i {
        width: 40%;
        height: 40%;
        -webkit-transition: color var(--transition-short) ease-in-out;
        transition: color var(--transition-short) ease-in-out;
    }
    .navigation .tastenkombinationenSwitch:hover i {
        color: var(--main-color);
    }
    .navigation[active] .tastenkombinationenSwitch {
        -webkit-transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .tastenkombinationen-background_close {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--font-color);
        opacity: 0;
        -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
        z-index: -999;
    }
    .tastenkombinationen-background_close[active] {
        -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        opacity: 0.25;
        z-index: 990;
    }
    
    .tastenkombinationen-iframe {
        display: none;
        position: fixed;
        height: min(100vh - 2rem, 30rem);
        width: min(100vw - 2rem, 55rem);
        margin: calc((100vh - min(100vh - 2rem, 30rem)) / 2) calc((100vw - min(100vw - 2rem, 55rem)) / 2);
        padding: 0;
        outline: 0.2rem var(--border-color) solid;
        -webkit-box-shadow: inset 0.1rem 0.1rem var(--border-color), inset -0.1rem -0.1rem var(--border-color);
        box-shadow: inset 0.1rem 0.1rem var(--border-color), inset -0.1rem -0.1rem var(--border-color);
        border-radius: 10px;
        z-index: 1010;
    }
    
    .tastenkombinationen-background_close {
        -webkit-transition: none;
        transition: none;
    }
    .tastenkombinationen-background_close[active] {
        opacity: 0;
        z-index: 1009;
    }
    
    @@media (max-width: 40em) {
        .navigation .tastenkombinationenSwitch {
            bottom: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
</style>